{#include emails/base}
    {#beforeIssueTable}
        <p>We're in the process of planning what will be included in the next Red Hat Build of Quarkus feature release (codename: Fireball) and the following feature release (codename: something beginning with 'G').</p>
        <p>A November release date is currently being targeted for Fireball. This means it will likely be based on Quarkus 2.13.x or 2.14.x.</p>
        <p>This release is approaching the final stages, so there shouldn't be many issues in the 'To Do' state and other issues should be close to the 'Implemented' state.</p>
        <ul>
            <li><b>2.y-Fireball.GA:</b> Issues that can be fixed upstream around September or October 2022. In the case of issues not requiring an upstream code change, you will have until around November 2022.</li>
            <li><b>x.y-G.GA:</b> Issues that can be fixed for the following RHBQ feature release (merge upstream ~February 2023, or ~March for non-upstream impacting issues)</li>
            <li><b>Later.GA:</b> Issues that are valid and complete, but can't be fixed in either of the above timeframes</li>
        </ul>
        <p>Thanks for your help with this.</p>
    {/beforeIssueTable}
{/include}