{#include emails/base}
    {#beforeIssueTable}
        <p>We're in the process of planning what will be included in the next Red Hat Build of Quarkus feature release (codename: Fireball) and the following feature release (codename: something beginning with 'G').</p>
        <p>A November release date is currently being targeted for Fireball. This means it will likely be based on Quarkus 2.13.x or 2.14.x.</p>
        <p>This release is approaching the final stages, so there shouldn't be many issues in the 'To Do' state and other issues should be close to the 'Implemented' state.</p>
        <ul>
            <li><b>2.y-Fireball.GA:</b> Issues that can be fixed upstream around September or October 2022. In the case of issues not requiring an upstream code change, you will have until around November 2022.</li>
            <li><b>x.y-G.GA:</b> Issues that can be fixed for the following RHBQ feature release (merge upstream ~February 2023, or ~March for non-upstream impacting issues)</li>
            <li><b>Later.GA:</b> Issues that are valid and complete, but can't be fixed in either of the above timeframes</li>
        </ul>
        <p>Thanks for your help with this.</p>
    {/beforeIssueTable}
    {#afterIssueTable}
        <p>The states are documented here: <a href='https://docs.google.com/document/d/1s5pzo73HS9QYF1oQjv8ff-ATAK-u8dU_iL3qTe859xA/edit#heading=h.17kii7ptsosf'>Quarkus Product Process | JIRA Workflow</a>.</p>
        <p>To summarise the states from an engineering perspective...
        <br><b>To Do:</b> New issues yet to be worked on</br>
        <br><b>Analysis In Progress:</b> The issue is being discussed/planned/analysed before actual development begins
        <br><b>Dev In Progress:</b> Coding on the issue is in progress (Developer moves the issue here when coding has begun)
        <br><b>Implemented:</b> The PR for the code is merged and out of the Developer's hands (Developer moves issue to here when the PR is merged)</br>
        <br><b>Resolved:</b> The issue is available in a release (Productization moves issues from implemented to here during release)</br>
    {/afterIssueTable}
{/include}